﻿@model PhotoGallery.Models.Comment

@{  
    ViewBag.Title = "New Comment";
    PhotoGallery.Models.Picture Pic = ViewBag.Pic;

}
<style>
    img {
        max-height: 800px;
    }

    .card-section table {
        max-width: 500px;
    }

    p.caption {
        font-style: italic;
        text-align: left;
        color: teal;
    }
    .validation-summary-errors{

        float:right;
        direction: rtl;
        color:red;
    }
</style>

<h2>Create</h2>



    <div class="card">
    <div class="card-divider">
        <h3>@Pic.Title</h3>
    </div>
    <img src="@Pic.URL" />

    <div class="card-section">

        <p class="caption">@Html.DisplayFor(modelItem => Pic.Caption)</p>

        <table>
            <tr>
                <th>Author</th>
                <td>@Html.DisplayFor(modelItem => Pic.Author)</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>@Html.DisplayFor(modelItem => Pic.Date)</td>
            </tr>
            <tr>
                <th>Rating</th>
                <td>@Html.DisplayFor(modelItem => Pic.Rating)</td>
            </tr>

        </table>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Hidden("PictureId",  Pic.PictureId)
    @Html.Label("Author")
    @Html.EditorFor(m => m.Author)
    @Html.Label("Text")
    @Html.TextAreaFor(m => m.Text)

    <input type="submit" value="Submit" class="tiny button" />



    @Html.ValidationSummary()
}
