﻿@model IEnumerable<PhotoGallery.Models.Picture>

@{
    ViewBag.Title = "Index";
}
<style>
    img{
        max-height: 800px;
    }
    .card-section table{
        max-width: 500px;
    }
    p.caption{
        font-style: italic;
        text-align:left;
        color:teal;
    }
    .card-section p {
      padding-left: 1em;    
    }
    .card-section p span {
       
    }
    .card-section p sub{
        color: dimgrey;
    }
</style>
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

      

@foreach (var item in Model)
{

    <div class="card">
            <div class="card-divider">
                <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
            </div>
            <img src="@item.URL" />
            
            <div class="card-section">

                <p class="caption">@Html.DisplayFor(modelItem => item.Caption)</p>

                <table>
                    <tr>
                        <th>Author</th>
                        <td>@Html.DisplayFor(modelItem => item.Author)</td>
                    </tr>
                    <tr>
                        <th>Date</th>
                        <td>@Html.DisplayFor(modelItem => item.Date)</td>
                    </tr>
                    <tr>
                        <th>Rating</th>
                        <td>@Html.DisplayFor(modelItem => item.Rating)</td>
                    </tr>

                </table>
                @if (item.Comments.Count > 0)
                {
                    foreach (var m in item.Comments)
                    {
                        <P><strong>@m.Author</strong><br />
                            <span>@m.Text<br /></span>
                            <sub>@m.Date</sub>
                        </p>
                    }
                }
         
            </div>
    </div>



   
    <p>@Html.ActionLink("Add Comment", "Create", "Comments", new { id = item.PictureId }, null)</p>

}


@Html.ActionLink("New Picture","Create")

